[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pyperclip = {editable = true, path = "."}

[dev-packages]
tox = "*"
detox = "*"

[requires]
python_version = "3.9"
